In [4]:
#Importamos las bibliotecas necesarias para la actividad 
import numpy as np 
import pandas as pd 

#Se crea una variable donde estan los datos a utilizar
url = "https://raw.githubusercontent.com/marianaav26/FisicaComputacional1/main/Actividad1/diarios.txt"


#Se crea un DataFrame de los datos que tiene el url 
df_diarios = pd.read_csv(url)


#Se imprime el encabezado y el final para tener una nocion de los reglones que hay
print(df_diarios.head(20))
print(df_diarios.tail())

                     CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
0                         BASE DE DATOS CLIMATOLOGICA
1   DATOS DISPONIBLES EN LA BASE DE DATOS A MARZO ...
2                                   ESTACION  : 26005
3                                  NOMBRE    : ARIZPE
4                                  ESTADO    : SONORA
5                                  MUNICIPIO : ARIZPE
6                                SITUACI�N : OPERANDO
7                             ORGANISMO : CONAGUA-DGE
8                                    CVE-OMM   : Nulo
9                                LATITUD   : 030.336�
10                              LONGITUD  : -110.168�
11                               ALTITUD   : 836 msnm
12                            EMISION   : 06/04/2020
13                         PRECIP  EVAP   TMAX   TMIN
14                FECHA     (MM)   (MM)   (�C)   (�C)
15               10/04/1961  0     Nulo    28    Nulo
16               11/04/1961  0      6.4    28     14
17              12/04/1961  0      7.6    31     9.5
18              13/04/1961  0      11     30     8.5
19                14/04/1961  0      8.7    30     7
             CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
15512     28/03/2016  0     Nulo    24     4
15513     29/03/2016  0     Nulo    20     0
15514     30/03/2016  0     Nulo    19     2
15515     31/03/2016  0     Nulo   Nulo    0
15516  --------------------------------------

In [5]:
url = "https://raw.githubusercontent.com/marianaav26/FisicaComputacional1/main/Actividad1/diarios.txt"
#Se asigna nombres a las columnas
columnas = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']

#Se realizan varias instrucciones, sep='\s+' para separar datos de uno o mas espacios
#skinprows para saltar los primeros 19 renglones y el ultimo, header=none sin encabezado
#Se procesan los datos utilizando python con engine='python'
df_diarios = pd.read_csv(url, names=columnas, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

print(df_diarios.head())
print(df_diarios.tail())

        Fecha Precip  Evap Tmax  Tmin
0  10/04/1961      0  Nulo   28  Nulo
1  11/04/1961      0   6.4   28    14
2  12/04/1961      0   7.6   31   9.5
3  13/04/1961      0    11   30   8.5
4  14/04/1961      0   8.7   30     7
            Fecha Precip  Evap  Tmax Tmin
15496  27/03/2016      0  Nulo    26    4
15497  28/03/2016      0  Nulo    24    4
15498  29/03/2016      0  Nulo    20    0
15499  30/03/2016      0  Nulo    19    2
15500  31/03/2016      0  Nulo  Nulo    0

In [6]:
#Se observa la dimension e informacion de los datos 
df_diarios.shape
df_diarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15501 entries, 0 to 15500
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   15501 non-null  object
 1   Precip  15501 non-null  object
 2   Evap    15501 non-null  object
 3   Tmax    15501 non-null  object
 4   Tmin    15501 non-null  object
dtypes: object(5)
memory usage: 605.6+ KB

In [7]:
#Se realiza una copia de la base de datos 
df_copia=df_diarios.copy()
df_copia.head()

        Fecha Precip  Evap Tmax  Tmin
0  10/04/1961      0  Nulo   28  Nulo
1  11/04/1961      0   6.4   28    14
2  12/04/1961      0   7.6   31   9.5
3  13/04/1961      0    11   30   8.5
4  14/04/1961      0   8.7   30     7

In [8]:
#Se sustituyen los Nulo por espacios en blanco
str_Nulo = 'Nulo'
df_copia = df_copia.replace(to_replace=str_Nulo, value='', regex=True)
df_copia.head()

        Fecha Precip Evap Tmax Tmin
0  10/04/1961      0        28
1  11/04/1961      0  6.4   28   14
2  12/04/1961      0  7.6   31  9.5
3  13/04/1961      0   11   30  8.5
4  14/04/1961      0  8.7   30    7

In [9]:
#Imprimimos en pantalla la informacion actualizada 
df_copia.info()
print(df_copia.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15501 entries, 0 to 15500
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   15501 non-null  object
 1   Precip  15501 non-null  object
 2   Evap    15501 non-null  object
 3   Tmax    15501 non-null  object
 4   Tmin    15501 non-null  object
dtypes: object(5)
memory usage: 605.6+ KB
        Fecha Precip Evap Tmax Tmin
0  10/04/1961      0        28
1  11/04/1961      0  6.4   28   14
2  12/04/1961      0  7.6   31  9.5
3  13/04/1961      0   11   30  8.5
4  14/04/1961      0  8.7   30    7

In [10]:
#Convertimos los datos a valores numericos 
columnas = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in columnas:
  df_copia[cols] = pd.to_numeric(df_copia[cols], errors="coerce")

df_copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15501 entries, 0 to 15500
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   15501 non-null  object
 1   Precip  15485 non-null  float64
 2   Evap    8623 non-null   float64
 3   Tmax    15104 non-null  float64
 4   Tmin    15106 non-null  float64
dtypes: float64(4), object(1)
memory usage: 605.6+ KB

In [11]:
#Se muestran los datos que faltan 
df_copia.isnull().sum()

Fecha        0
Precip      16
Evap      6878
Tmax       397
Tmin       395
dtype: int64

In [12]:
#Se imprimen los primeros 5 renglones
print(df_copia.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  10/04/1961     0.0   NaN  28.0   NaN
1  11/04/1961     0.0   6.4  28.0  14.0
2  12/04/1961     0.0   7.6  31.0   9.5
3  13/04/1961     0.0  11.0  30.0   8.5
4  14/04/1961     0.0   8.7  30.0   7.0

In [13]:
#Se redondean los valores a las primeras 2 cifras 
df_copia.describe().round(2)

         Precip     Evap      Tmax      Tmin
count  15485.00  8623.00  15104.00  15106.00
mean       1.24     6.09     28.91     10.04
std        5.17     3.03      7.39      6.92
min        0.00     0.10     -1.00    -12.00
25%        0.00     3.60     23.00      4.50
50%        0.00     5.80     30.00      9.00
75%        0.00     8.10     34.50     16.00
max       87.50    17.50     48.00     35.00

In [14]:
#Se realiza otra copia de seguridad 
df_copiaseguridad = df_copia.copy()
df_copiaseguridad

            Fecha  Precip  Evap  Tmax  Tmin
0      10/04/1961     0.0   NaN  28.0   NaN
1      11/04/1961     0.0   6.4  28.0  14.0
2      12/04/1961     0.0   7.6  31.0   9.5
3      13/04/1961     0.0  11.0  30.0   8.5
4      14/04/1961     0.0   8.7  30.0   7.0
...           ...     ...   ...   ...   ...
15496  27/03/2016     0.0   NaN  26.0   4.0
15497  28/03/2016     0.0   NaN  24.0   4.0
15498  29/03/2016     0.0   NaN  20.0   0.0
15499  30/03/2016     0.0   NaN  19.0   2.0
15500  31/03/2016     0.0   NaN   NaN   0.0

[15501 rows x 5 columns]

In [15]:
#Se cambia el formato de fecha a año/mes/dia 
df_copiaseguridad["Fecha"] = pd.to_datetime(df_copiaseguridad["Fecha"], dayfirst=True ).copy()
print(df_copiaseguridad.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1961-04-10     0.0   NaN  28.0   NaN
1 1961-04-11     0.0   6.4  28.0  14.0
2 1961-04-12     0.0   7.6  31.0   9.5
3 1961-04-13     0.0  11.0  30.0   8.5
4 1961-04-14     0.0   8.7  30.0   7.0

In [16]:
#Se agregan las columnas de año y mes 
df_copiaseguridad["Año"] = df_copiaseguridad["Fecha"].dt.year
df_copiaseguridad["Mes"] = df_copiaseguridad["Fecha"].dt.month
df_copiaseguridad

           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0     1961-04-10     0.0   NaN  28.0   NaN  1961    4
1     1961-04-11     0.0   6.4  28.0  14.0  1961    4
2     1961-04-12     0.0   7.6  31.0   9.5  1961    4
3     1961-04-13     0.0  11.0  30.0   8.5  1961    4
4     1961-04-14     0.0   8.7  30.0   7.0  1961    4
...          ...     ...   ...   ...   ...   ...  ...
15496 2016-03-27     0.0   NaN  26.0   4.0  2016    3
15497 2016-03-28     0.0   NaN  24.0   4.0  2016    3
15498 2016-03-29     0.0   NaN  20.0   0.0  2016    3
15499 2016-03-30     0.0   NaN  19.0   2.0  2016    3
15500 2016-03-31     0.0   NaN   NaN   0.0  2016    3

[15501 rows x 7 columns]

In [17]:
#Verificamos
print(df_copiaseguridad.head())
print(df_copiaseguridad.tail())
print(df_copiaseguridad.dtypes)

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1961-04-10     0.0   NaN  28.0   NaN  1961    4
1 1961-04-11     0.0   6.4  28.0  14.0  1961    4
2 1961-04-12     0.0   7.6  31.0   9.5  1961    4
3 1961-04-13     0.0  11.0  30.0   8.5  1961    4
4 1961-04-14     0.0   8.7  30.0   7.0  1961    4
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
15496 2016-03-27     0.0   NaN  26.0   4.0  2016    3
15497 2016-03-28     0.0   NaN  24.0   4.0  2016    3
15498 2016-03-29     0.0   NaN  20.0   0.0  2016    3
15499 2016-03-30     0.0   NaN  19.0   2.0  2016    3
15500 2016-03-31     0.0   NaN   NaN   0.0  2016    3
Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object